@import '../../styles/vars'

.LogInScreen
  height: 100vh
  width: 100%
  .logo_wrapper
    //width: 10%
    img
      width: 100%
  .upper_bar
    cursor: pointer
    display: inline-flex
    align-items: center
    justify-content: space-between
    color: #edecee
    .left
      display: inline-flex
      align-items: center
    span
      font-size: 14px
      font-weight: bold
      margin-left: 20px
  .form
    padding-top: 60px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    margin: 0 auto
    max-width: 350px
  .submit_button
    margin-top: 30px
    margin-bottom: 10px
  .buttons
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    button
      width: 100%
  .Input
    width: 100%
  .Loading
    padding-top: 168px
  .error
    margin: 0
